.env
build-tables.sql.json
client/
notes
postgres-example.js
sis.json
test-postgres.js
test.json
yarn.lock
auth.js

comparison
test.js

terraform/.terraform
terraform/server.zip
terraform/terraform
terraform/terraform.pub
terraform/var.tfvars
terraform/*.tfstate*